---
layout: default
title: Mi Zhang
picture: life
---
<div class="page-header">
  <div class="row">
    <div class="col-sm-12">
      <h3>
        <strong style="font-family: 'Times New Roman'; font-size: 24px;">Mi Zhang</strong> (<span style="font-family: 'STXingkai'; font-size: 26px;">张咪</span>)
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <address>
        Institute of Life Sciences<br/>
        Chongqing Medical University (<a href="http://english.cqmu.edu.cn/">CQMU</a>)<br/>
        Yuzhong District, Chongqing 400016, China<br/>
      </address>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-envelope"></span> Email: <a href="mailto:zhangmmi@outlook.com">zhangmmi@outlook.com</a><br/>
      <a href="tel:+86-13637995210"><span class="glyphicon glyphicon-phone"></span>+86 177 2308 1431</a><br/>
      <a href="#"><img src="img/ico/linkedin.png" alt=""/> LinkedIn</a> (Coming soon ...)<br/>
      <img src="img/ico/homepage.png" alt=""/> Homepage: <a href="https://zhangmmi.github.io/">https://zhangmmi.github.io</a><br/>
    </div>
  </div>
</div>

<p>
<div style="text-align: center;color: #333!important;width: 100%;"><h4>Welcome!</h4></div>
</p>

<h4><span style="color: red; font-size: 18px;">I am looking for an opportunity to pursue a Ph.D. If you are interested in my CV, please contact me without hesitation!</span></h4>

<!-- <span style="color: red;"><strong>I am looking for an opportunity to study for a Ph.D. If you feel that my CV is suitable, please feel free to contact me without hesitation.</strong></span> -->

<h4>Biography</h4>
<p>
I'm now a Master candidate in Institute of Life Sciences, CQMU, under the supervision of Prof. <a href="http://gmis.cqmu.edu.cn/gmisblank/xkjsb/yjsdsfc.aspx?id=2471D578D3CE7F756C2FF71827B049D1">Chen Xu</a> since September 2016. I had 8 months of research experience at the Molecular Biology Laboratory, College of Basic Medical Sciences, Shanghai Jiao Tong University (<a href="http://en.sjtu.edu.cn/">SJTU</a>), under the supervision of Prof. <a href="http://daoshi.shsmu.edu.cn/Pages/TeacherInformationView.aspx?uid=449439F1-62B2-4A04-BEC8-A3DB4F33B0A5&from=s&pId=&tId=710">Jing Yi</a> (Lab PI) and Dr. <a href="https://www.researchgate.net/profile/Xue_Sun2">Xueqing Sun</a> from November 2017 to July 2018. Previously, I received my bachelor degree in CQMU in June, 2016.
</p>
<p>
My <a href="CV/CV_MiZhang.pdf"><strong class="color-blue-line">Resume/CV</strong></a> (Download)
</p>

<div class="solid-line"></div>
<h4>Research Interests</h4>
<ul>
  <li>Sympathetic and Prostate Cancer</li>
</ul>

<div class="solid-line"></div>
<h4>Education</h4>
<ul>
  <li>
    <strong>Master</strong> | 
    <span>
      Institute of Life Sciences, Chongqing Medical University, China
    </span>, 
    Sept. 2016 - Jun. 2019 (Expected)<br/>
    Supervisor: Prof. <a href="http://gmis.cqmu.edu.cn/gmisblank/xkjsb/yjsdsfc.aspx?id=2471D578D3CE7F756C2FF71827B049D1">Chen Xu</a><br/>
    Research area: Sympathetic and Prostate Cancer
  </li>
  <li>
    <strong>Bachelor</strong> | 
    <span>
      Preventive Medicine, Chongqing Medical University, China
    </span>, 
    Sept. 2011 - Jun. 2016<br/>
    Major: Preventive Medicine
  </li>
</ul>

<div class="solid-line"></div>
<h4>Recent Highlights</h4>
{% for post in site.papers %}
  {% include paper.html paper=post %}
{% endfor %}

<div class="solid-line"></div>
<h4>Experience</h4>
<ul>
  <li>
    <strong>Research Intern</strong> | Molecular Biology Laboratory, 
    Shanghai Jiao Tong University College of Basic Medical Sciences (<strong><a href="http://en.sjtu.edu.cn/">SJTU</a></strong>)<br/>
    Topic: Effect of beta2 adrenergic receptor on prostate cancer metastasis and its mechanism<br/>
    Supervisor: Prof. <a href="http://daoshi.shsmu.edu.cn/Pages/TeacherInformationView.aspx?uid=449439F1-62B2-4A04-BEC8-A3DB4F33B0A5&from=s&pId=&tId=710">Jing Yi</a> and 
    Dr. <a href="https://www.researchgate.net/profile/Xue_Sun2">Xueqing Sun</a><br/>
    Nov 2017 - Jul 2018
  </li>
  <li>
    <strong>Professional Intern</strong> | <a href="http://www.cqcdc.org">The Center for Disease Control and Prevention, Chongqing, China</a><br/>
    Topic 1: Investigation of tuberculosis patients<br/>
    Topic 2: The propaganda and education of health and health knowledge for primary and middle school students<br/>
    Nov 2015 - May 2016
  </li>
  <li>
    <strong>Professional Intern</strong> | <a href="http://cqhxyy.com/">The Second People's Hospital of Banan District, Chongqing, China</a><br/>
    Topic: Operation observation and practice; Collation of the survey data of elderly and mental patients.<br/>
    Jul 2015 - Nov 2015
  </li>
  <li>
    <strong>Social Practice</strong> | The College Students' Summer Social Practice<br/>
    Topic: Questionnaire design, distribution and statistical analysis of funeral and interment work.<br/>
    Aug 2014 - Sept 2014
  </li>
  <li>
    <strong>Social Practice</strong> | The College Students' Summer Social Practice<br/>
    Topic: A random interview on sex education for primary and middle school students.<br/>
    Aug 2012 - Sept 2012
  </li>
</ul>

<div class="solid-line"></div>
<h4>Awards</h4>
<ul>
  <li>Level 3, National Public Dietitian.</li>
  <li>3rd prize, The 14th "Challenge Cup" National College Students Extracurricular Academic Competition of Chongqing Medical University (2015).</li>
  <li>1st prize, The 13th "Challenge Cup" National College Students Extracurricular Academic Competition in Chongqing Medical University (2012).</li>
</ul>

<div class="solid-line"></div>
<h4>Activities</h4>
<ul>
  <li>Vice Minister of the editorial department of the college students' Association.</li>
</ul>

<br/>
<p>
Thank you for visiting.
</p>
<br/>

<div>
  <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?d=ymeaskTkzJrKP6fnDAiLK-om5y7Lq0qGLBVXdWUPf-s&cl=ffffff&w=300"></script>
</div>


